.currentMembersList {
  list-style: none;
  font-size: 20px;
}

.currentMembersListItem {
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
}

.currentMembersListItem:hover {
  background-color: var(--a-surface-neutral-subtle-hover);
}

.modalFields {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
