.createReportContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.createReportButton {
  align-self: start;
}

.dateFilterContainer {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.dateFilterContainer > * {
  flex: 1;
  min-width: 200px;
}

