.mobileNavbar {
  margin: 16px;
  display: none;
}

.desktopNavbar {
  display: block;
}

@media (max-width: 768px) {
  .desktopNavbar {
    display: none;
  }

  .mobileNavbar {
    display: block;
  }
}
