.footerContainer {
  background-color: #003453;
  margin-top: auto;
  width: 100%;
  color: white;
}

.footerContainer a {
  color: white;
}

.contentGroups {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

@media (max-width: 768px) {
  .contentGroups {
    flex-direction: column;
    width: 90%;
  }
}
